{% extends 'layout.twig' %}

{% block body %}

    {% include '@basket/_basket.twig' with {noform: false}%}
    <p>
        {% if current_user() %}
            <form action="" method="POST">
                {{ csrf_input() }}
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ stripeKey }}"
                    data-amount="{{ basket.price * 100 }}" 
                    data-name="Panier" 
                    data-email="{{ current_user().email }}"
                    data-description="Achat sur monsite.com"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png" 
                    data-locale="fr" 
                    data-zip-code="true"
                    data-currency="eur">
                </script>
            </form>
        {% else %}
            <a class="btn btn-primary" href="{{ path('auth_login') }}">Commander</a>
        {% endif %}
    </p>

{% endblock %}