{% extends "layout.twig" %}

{% block body %}
<section class="container-produit p-t">
    <h1 class="rdv--title">INFORMATIONS PERSONNELLES</h1>
    <div class="block-rdv">
        <form action="{{ path('account_signup') }}" method="post" class="ui form">
            {{ csrf_input() }}
            {{ field('username', user.username, "Nom d'utilisateur") }}
            {{ field('email', user.email, "Email", {type: 'email'}) }}
            {{ field('password', null, "Mot de passe", {type: 'password'}) }}
            {{ field('password_confirm', null, "Confirmez le mot de passe", {type: 'password'}) }}
            <button class="ui submit button" type="submit">Envoyer</button>
        </form>
    </div>
</section>
{% endblock %}