{% extends 'layout.twig' %}

{% block title "Mes articles" %}

{% block body %}

	<div class="row">
		<div class="col-md-9">
			{% for row in posts | batch(4) %}
				<div class="card-deck">
					{% for post in row %}
						<div class="card">
							{% if post.categoryName %}
								<div class="card-header">
									<h2>
										<a href="{{ path('blog_show', {slug: post.slug, id: post.id}) }}">
											{{ post.categoryName }}
										</a>
									</h2>
								</div>
							{% endif %}
							<div class="card-block">
								<p class="card-text">
									{{ post.content | nl2br | excerpt }}
								</p>
								<p class="text-muted">{{ post.createdAt | ago}}</p>
							</div>
							<div class="card-footer">
								<a href="{{ path('blog_show', {slug: post.slug, id: post.id}) }}" class="btn btn-primary">
									Voir l'article
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>

		<div class="col-md-3">
			{% for c in categories %}
				<ul>
					<li><a href="{{path('blog_category_index', {id: c.id, slug: c.slug})}}">{{c.name}}</a></li>
				</ul>
			{% endfor %}
		</div>
	</div>


	<ul class="pagerfanta">
		{{paginate(posts, 'blog_index')}}
	</ul>

{% endblock %}
